$dark-black: #131417E5;
$semi-dark: #1314171A;
$light-grey: #FFFFFF80;
$white-text: #ffffff;

$day-active-light: #b9b9ba;
$day-active-light-bg: #ffffff;
$day-active-light-text: #000000;
$day-active-light-bg-contol:#FFFFFF33;

$day-active-dark: #2674a1;
$day-active-dark-bg: #2D9CDB;
$day-active-dark-text: #ffffff;
$day-active-dark-bg-contol:#2674A133